@use "../../../foundation/base/f-font-family" as font;
@use "../../../foundation/mixin/f-flex" as flex;

.Aabout-info{
    width: 100%;
    height: auto;
    padding-top: 15rem;
    @include flex.flex();
    flex-direction: column;
    background-color: #F8F8F8;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1607843137);
    @media screen and (max-width: 768px) {
        padding: 15rem 8rem 0;
    }
    &__title{
        width: 50%;
        margin-bottom: 6rem;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    &__content{
        width: 50%;
        margin-bottom: 8rem;
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-bottom: 16rem;
        }
        &--text{
            width: 100%;
            margin-top: 2rem;
            margin-bottom: 2rem;
            @include flex.flex($justify-content:flex-start,$align-items:flex-start);
            .Aabout-info-custom{
                width: 80%;
            }
            .Aabout-infotext1{
                width: 20%;
                margin-top: 0.5rem;
                @include font.font-Noto-bold($fontsize:1.8rem);
            }
            .Aabout-infotext2 {
                width: 50%;
                @include font.font-Noto-midium($fontsize: 1.8rem);
                &.long{
                    width: 100%;
                }
            }
            .Aabout-infomap{
                width: 100%;
                height: 24rem;
                margin-top: 2.5rem;
                iframe{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &--line{
            width: 100%;
            height: 2px;
            display: block;
            position: relative;
            background-color:#D8D8D8 ;
            &::after{
                content: '';
                width: 15%;
                height: 2px;
                position: absolute;
                top: 50%;
                left: 0%;
                transform: translate(-0%,-50%);
                background: transparent linear-gradient(90deg, #70CFE4 0%, #5C76F6 100%) 0% 0% no-repeat padding-box;
            }
        }
    }
}