@use "../../../foundation/base/f-font-family" as font;
@use "../../../foundation/mixin/f-flex" as flex;

.Aabout-ceo{
    width: 100%;
    height: auto;
    padding: 10rem 10vw 0;
    @include flex.flex();
    background-color: #F8F8F8;
    // box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1607843137);
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
    .max-inner-ceo{
        max-width: 170rem;
        @include flex.flex();
    }
    &__text{
        width: 50%;
        height: auto;
        @include flex.flex($align-items:flex-start,$justify-content:flex-start);
        flex-direction: column;
        @media screen and (max-width: 768px) {
            display: contents;
        }
        .Aabout-ceo-title{
            margin-top: 5rem;
            @include font.font-Noto-bold($fontsize:2.4rem,$lineHeight: 4rem);
            @media screen and (max-width: 768px) {
                order: 3;
                font-size: 4.8rem;
            }
        }
        .Aabout-ceo-text{
            margin-top: 5rem;
            width: 90%;
            @include font.font-Noto-midium($fontsize:2rem,$lineHeight:5rem);
            @media screen and (max-width: 768px) {
                order: 4;
                width: 100%;
                font-size: 4rem;
                line-height: 8rem;
            }
        }
        .Aabout-ceo-name{
            width: 90%;
            text-align: right;
            @include font.font-Noto-midium($fontsize:1.8rem);
            @media screen and (max-width: 768px) {
                order: 5;
                margin-top: 6rem;
                width: 100%;
                font-size: 3.5rem;
            }
            span{
                margin-left: 1rem;
                @include font.font-Noto-bold($fontsize:2rem);
                @media screen and (max-width: 768px) {
                    font-size: 3.5rem;
                }
            }
        }
    }
    &__img{
        width: 50%;
        height: 43vw;
        @include flex.flex();
        padding-top: 5rem;
        @media screen and (max-width: 768px) {
            order: 2;
            width: 100%;
            height: 60vw;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            &.Aceoimg-pc{
                display: block;
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
            &.Aceoimg-sp {
                display: none;
                @media screen and (max-width: 768px) {
                    display: block;
                }
            }
        }
    }
}