@use "../../foundation/base/f-font-family" as font;
@use "../../foundation/mixin/f-flex" as flex;

footer{
    width: 100%;
    height: auto;
    @include flex.flex();
    flex-direction: column;
    .footer{
        width: 100%;
        height: 33rem;
        padding-top: 7rem;
        padding-left: 5rem;
        padding-right: 14rem;
        background-color: #404040;
        @include flex.flex();
        @media screen and (max-width: 768px) {
            height: 110rem;
            padding: 10rem 4rem 0;
        }
        &__title{
            width: 30%;
            height: 100%;
            @include flex.flex($gap:2rem,$justify-content:flex-start,$align-items:flex-start);
            flex-direction: column;
            @media screen and (max-width: 768px) {
                width: 50%;
            }
            &--img{
                width: 22rem;
                height: 3.7rem;
                @media screen and (max-width: 768px) {
                    width: 35rem;
                    height: 10rem;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &--text{
                @include font.font-Noto-bold($fontsize:2.4rem,$letterSpacing:1.08px);
                color: white;
            }
        }
        &__content{
            width: 70%;
            height: 100%;
            @include flex.flex($justify-content:flex-start);
            @media screen and (max-width: 768px) {
                width: 50%;
                align-items: flex-start;
                flex-direction: column;
            }
            &--pattern1{
                width: auto;
                height: 100%;
                margin-right: 10rem;
                @include flex.flex($align-items:flex-start,$justify-content:flex-start,$gap:2rem);
                flex-direction: column;
                @media screen and (max-width: 768px) {
                    margin-right: 0;
                    margin-top: 4rem;
                    height: auto;
                    gap: 3rem;
                }
                .footer-pattern1-title{
                    @include font.font-jost-semibold($fontsize:2.2rem);
                    color: white;
                    @media screen and (max-width: 768px) {
                        font-size: 3.8rem;
                    }
                }
                .footer-pattern1-col{
                    @include flex.flex($justify-content:flex-start,$gap:2rem);
                    @include font.font-Noto-midium($fontsize:1.6rem);
                    color: #ACACAC;
                    @media screen and (max-width: 768px) {
                        font-size: 3.3rem;
                    }
                }
            }
            &--pattern2{
                width: auto;
                height: 100%;
                @include flex.flex($align-items:flex-start,$justify-content:flex-start,$gap:2rem);
                flex-direction: column;
                @media screen and (max-width: 768px) {
                    margin-right: 0;
                    margin-top: 4rem;
                    height: auto;
                    $gap: 5rem
                }
                .footer-pattern2-text{
                    @include font.font-jost-semibold($fontsize:2.2rem);
                    color: white;
                    @media screen and (max-width: 768px) {
                        font-size: 3.8rem;
                    }
                }
            }
        }
    }
    .inc{
        width: 100%;
        height: 5rem;
        background-color:#222222 ;
        @include flex.flex();
        @media screen and (max-width: 768px) {
            height: 12rem;
        }
        p{
            @include font.font-Noto-bold($fontsize:1.6rem);
            color: white;
        }
    }
}