@use "../../../foundation/base/f-font-family" as font;
@use "../../../foundation/mixin/f-flex" as flex;

.p-contact{
    width: 100%;
    height: auto;
    padding: 20rem 10rem 10rem;
    background-color: #F8F8F8;
    box-shadow: 0px 8px 10px #00000029;
    @media screen and (max-width: 768px) {
        padding: 30rem 5rem 10rem;
    }
    &__title{
        margin-top: 10rem;
    }
    &__text{
        width: 100%;
        height: 3rem;
        margin-top: 14rem;
        @include flex.flex($justify-content:flex-start);
        @media screen and (max-width: 768px) {
            margin-top: 12rem;
            height: auto;
        }
        p{
            @include font.font-Noto-bold($fontsize:2rem);
            @media screen and (max-width: 768px) {
                font-size: 3.5rem;
            }
        }
    }
    .form{
        width: 100%;
        height: auto;
        margin-top: 8rem;
        &__content{
            width: 100%;
            @include flex.flex($align-items:flex-start,$gap:4rem);
            flex-direction: column;
            @media screen and (max-width: 768px) {
                gap: 6rem;
            }
            &--flex{
                width: 100%;
                height: 5.6rem;
                @include flex.flex($justify-content:flex-start);
                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    gap: 2rem;
                    height: auto;
                }
                .form-text{
                    width: 12%;
                    @include font.font-Noto-bold($fontsize:1.8rem);
                    @media screen and (max-width: 768px) {
                        width: 100%;
                        font-size: 4rem;
                    }
                }
                .form-box{
                    width: 60%;
                    height: 100%;
                    background-color: #FFFFFF;
                    @include flex.flex($justify-content:flex-start);
                    @include font.font-Noto-bold($fontsize:1.5rem);
                    @media screen and (max-width: 768px) {
                        width: 100%;
                        height: 13rem;
                    }
                    .min{
                        padding-left: 2rem;
                        padding-right: 2rem;
                        width: 100%;
                        height: 100%;
                        @media screen and (max-width: 768px) {
                            font-size: 4rem;
                        }
                        &:focus{
                            outline: solid 2px #5C76F6;
                        }
                    }
                    &.select {
                        padding-right: 4rem;
                        justify-content: flex-end;
                        position: relative;
                        select{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            option{
                                width: 100%;
                                height: 5.6rem;
                            }
                        }
                        div{
                            font-size: 2rem;
                            color: #5C76F6;
                            @media screen and (max-width: 768px) {
                                font-size: 4rem;
                            }
                        }
                    }
                }
            }
            &--flex-large{
                width: 100%;
                height: 23rem;
                @include flex.flex($justify-content: flex-start,$align-items:flex-start);
                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    gap: 2rem;
                    height: auto;
                }
                .form-text {
                    width: 12%;
                    @include font.font-Noto-bold($fontsize: 1.8rem);
                    @media screen and (max-width: 768px) {
                        width: 100%;
                        font-size: 4rem;
                    }
                }
                .form-box-large {
                    width: 60%;
                    height: 100%;
                    background-color: #FFFFFF;
                    @include flex.flex($justify-content: flex-start,$align-items:flex-start);
                    @include font.font-Noto-bold($fontsize: 1.5rem);
                    @media screen and (max-width: 768px) {
                        width: 100%;
                        height: 60rem;
                    }
                    .large {
                        padding: 2rem;
                        width: 100%;
                        height: 100%;
                        @include font.font-Noto-bold($fontsize: 1.5rem);
                        @media screen and (max-width: 768px) {
                            font-size: 4rem;
                        }
                        &:focus {
                            outline: solid 2px #5C76F6;
                        }
                    }
                }
            }
            .form-submit-box{
                width: 60%;
                height: 100%;
                @include flex.flex();
                .form-submit{
                    width: 25rem;
                    height: 6rem;
                    border-radius: 30px;
                    color: white;
                    @include flex.flex();
                    @include font.font-jost-bold(1.7rem);
                    background: transparent linear-gradient(90deg, #6DCAE4 0%, #5F94EF 100%) 0% 0% no-repeat padding-box;
                    @media screen and (max-width: 768px) {
                        width: 50rem;
                        height: 13rem;
                        font-size: 4rem;
                    }
                }
            }
        }
    }
}