//フォント管理
// font-family: 'Roboto', sans-serif;
// font-family: 'Sawarabi Gothic', sans-serif;
@mixin font-Noto-midium(
    $fontsize:2rem,
    $letterSpacing:normal,
    $lineHeight:normal,
    $color:#333333,
    ){
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    letter-spacing: $letterSpacing;
    line-height: $lineHeight;
    font-size: $fontsize;
    color: $color;
}

@mixin font-Noto-semibold(
    $fontsize:2rem,
    $letterSpacing:normal,
    $lineHeight:normal,
    $color:#333333,
    ){
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
    letter-spacing: $letterSpacing;
    line-height: $lineHeight;
    font-size: $fontsize;
    color:  $color;
}
@mixin font-Noto-bold(
    $fontsize:2rem,
    $letterSpacing:normal,
    $lineHeight:normal,
    $color:#333333,
    ){
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    letter-spacing: $letterSpacing;
    line-height: $lineHeight;
    font-size: $fontsize;
    color: $color;
}

@mixin font-jost-medium(
    $fontsize:2rem,
    $letterSpacing:normal,
    $lineHeight:normal,
    ){
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    letter-spacing: $letterSpacing;
    line-height: $lineHeight;
    font-size: $fontsize;
}

@mixin font-jost-semibold(
    $fontsize:2rem,
    $letterSpacing:normal,
    $lineHeight:normal,
    ){
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    letter-spacing: $letterSpacing;
    line-height: $lineHeight;
    font-size: $fontsize;
}

@mixin font-jost-bold(
    $fontsize:2rem,
    $letterSpacing:normal,
    $lineHeight:normal,
    ){
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    letter-spacing: $letterSpacing;
    line-height: $lineHeight;
    font-size: $fontsize;
}