@use "../../../foundation/base/f-font-family" as font;
@use "../../../foundation/mixin/f-flex" as flex;

.contact{
    width: 100%;
    height: auto;
    padding: 8rem;
    @include flex.flex();
    @media screen and (max-width: 768px) {
        flex-direction: column;
        padding: 8rem 0;
    }
    &__card{
        width: 50%;
        height: 45rem;
        position: relative;
        padding: 9rem 5rem 3rem;
        @include flex.flex($justify-content:space-between);
        @media screen and (max-width: 768px) {
            width: 100%;
            height: 50rem;
        }
        &--backimg{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -3;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
            }
        }
        &--title{
            width: 70%;
            height: 100%;
            @include flex.flex($justify-content:flex-start,$align-items:flex-start);
            flex-direction:column;
            &--text{
                margin-top: 6rem;
                @include font.font-Noto-midium($fontsize:1.9rem,$letterSpacing:1.6px,$lineHeight:3.4rem);
                color: white;
            }
        }
        &--button{
            width: 30%;
            height: 100%;
            @include flex.flex($align-items:flex-end,$justify-content:flex-end);
            button{
                width: 6rem;
                height: 6rem;
                border-radius: 50%;
                position: relative;
                border: 2px solid white;
                &::after{
                    content: "›";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    font-size:4rem;
                    color: white;
                }
            }
        }
        &::after{
            content: "";
            background-color: #00000066;
            width: 100%;
            height: 100%;
            display: block;
            opacity: 0.8;
            z-index: -2;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}