@use '../sass/page/p-base';
@use '../sass/page/p-header';
@use '../sass/page/sitepage-pages/p-home';
@use '../sass/page/sitepage-pages/p-contact';
@use '../sass/page/sitepage-pages/p-recruit';
@use '../sass/page/sitepage-pages/p-works';
@use '../sass/page/sitepage-pages/p-about';
@use '../sass/page/sitepage-pages/p-business';
@use '../sass/page/p-footer';